

/*Calling Font-Family*/
@font-face {
    font-family: 'view';
    src: url('../Fonts/MarketingScript/marketingscript.eot');
    src: url('../Fonts/MarketingScript/marketingscript.eot') format('embedded-opentype'),
         url('../Fonts/MarketingScript/marketingscript.woff') format('woff'),
         url('../Fonts/MarketingScript/marketingscript.ttf') format('truetype'),
         url('../Fonts/MarketingScript/marketingscript.svg#MarketingScriptRegular') format('svg');
}






/* SET THE HTML PAGE ALLIGNMENT*/
body
{
margin:0px;
padding:0px;
/*background-color:#BDBDDA;*/
}

/*SET THE FONTS TO  <h1> TAG*/
h1
{
font-family:view;
font-weight:100;
font-size:40px;
margin-top:0px;
}

/*header

{
margin:auto;

border:1px solid white;

width:100%;
height:70px;

text-align:center;
background-color:#C4E2D3;

margin-bottom:20px;

}
*/



/*FOR DISPLAYING SUCCESSFUL MESSAGE*/
p#success
{
display:none;
width:700px;
height:40px;
font-size:18px;
background-color:#C4E2D3;
margin:auto;
margin-bottom:10px;
margin-top:10px;
border-radius:12px;
color:white;
text-align:center;
line-height:-30px;	
}



/* SET THE WIDTH AND HEIGHT FOR DIV CONTAINING PROGRESSBAR*/
.progressbar
{

width:803px;

height:53px;

border:1px solid green;

margin:auto;

border-radius:1px;
margin-bottom:50px;
}
/* SET WIDTH AND HEIGHT FOR PROGRESSBAR*/
.progress

{
margin:2px;

width:800px;

height:49px;

outline:2px solid green;
border:0px;

}


/* SET THE ALIGNMENT FOR <section> TAG*/
section
{
box-shadow: -2px 2px 10px 15px #5C5C8A;
margin:auto;

width:850px;

height:870px;
border:10px solid #5C5C8A;
border-radius:15px;
background-color:#EDCFDE;
}

/*SET THE FIELDSET ALIGNMENTS*/
fieldset
{
margin:20px;
border:2px solid;
border-radius:10px;
border-color:white;
}



fieldset#profile
{

padding-top:20px;
padding-bottom:20px;
}

fieldset#contact
{
padding-top:20px;
}

/*SET  FORM ELEMENTS */
legend
{
font-size:25px;
padding-left:5px;
padding-right:5px;
}

label
{
padding-left:20px;
}
input[type="text"],input[type="password"],input[type="phone"]
{
margin-left:35px;
margin-bottom:10px;
width:180px;
height:28px;
border-radius:5px;
}

input[type="file"]
{
margin-top:5px;
margin-left:33px;
margin-bottom:20px;
}

input[type="submit"]
{
font-size:22px;
float:right;
margin-right:50px;
border-radius:7px;
margin-left:20px;
margin-top:-20px;
color:black;
text-shadow:2px 2px white;
margin-bottom:0px;
width:90px;
height:30px;
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(45deg, #b5bdc8 8%, #28343b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(8%,#b5bdc8), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, #b5bdc8 8%,#28343b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, #b5bdc8 8%,#28343b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, #b5bdc8 8%,#28343b 100%); /* IE10+ */
background: linear-gradient(45deg, #b5bdc8 8%,#28343b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*FOR  STAR */
sup
{
color:red;
}

section #uname
{
background-image:url('../images/user_suit.png');
background-repeat:no-repeat;
padding-left:20px;
}

section #pwd
{
background-image:url('../images/key.png');
background-repeat:no-repeat;
padding-left:20px;
margin-left:39px;
}
section #lname
{
margin-left:39px;
}

section #phone
{
background-image:url('../images/phone.png');
background-repeat:no-repeat;
padding-left:20px;
}
#percent 
{
font-size:30px;
color:red;
position:relative;
top:-30px;
left:10px;
}
div#gender
{
margin-top:-30px;
margin-left:125px;
//border:1px solid;
width:100px;
height:50px;
margin-bottom:-20px;
}
select#day,select#month,select#year
{
margin-left:15px;
margin-right:5px;
border-radius:5px;
}

div#hobbies
{
//border:1px solid;
width:350px;
height:71px;
margin-left:125px;
margin-top:-10px;
margin-bottom:5px;
}

div#sub-hob1
{
//border:1px solid;
width:110px;
height:70px;
float:left;
margin-right:20px;
}


div#sub-hob2
{
//border:1px solid;
width:110px;
height:70px;
float:left;
}

p#demo
{
margin-top:-5px;
font-size:25px;
color:green;  
}

#countries
{
 border-radius:5px;
 margin:10px;
width:200px;
padding-left:5px;
}

/* FOR CLOSED IMAGE*/
#closed
{
float:right;
margin-right:10px;
margin-top:5px;
}

img
{
width:10px;
height:10px;
}
