@font-face {
    font-family: 'DroidSansBold';
    src: url('droidsans-bold.eot');
    src: url('droidsans-bold.eot') format('embedded-opentype'),
         url('droidsans-bold.woff') format('woff'),
         url('droidsans-bold.ttf') format('truetype'),
         url('droidsans-bold.svg#DroidSansBold') format('svg');
}
